.container {
  border: 2px solid #673ab7;
  border-radius: 10px;
  padding: 20px;
  width: 700px;
  background: #673ab7;
  color: white;
  text-align: center;
}

.parent {
  display: flex;
  flex-wrap: wrap;
}
